*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
  background-color: #020024;
}

/* homesection */
.homesection{
    max-height: 90%;
}
.app{
    background-color: #EBE5E5;
    margin: 50px auto;
    width:393px;
    max-width: 80%;
    padding: 10px;
    box-shadow: -2px 14px 49px -32px rgba(8,20,36,0.21);
    border-radius: 15px;
    max-height: 90%;
}



.homesection h2{
    text-transform: uppercase;
    font-size: 15px;
    background-color: #003366;
    border-radius: 5px;
    color:white;
    width: 100px;
    padding: 10px;
    margin-bottom: 20px;
}

.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 65vh;
}

.img h3{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    rotate: -10.01deg;
}

.img img{
    width: 70%;
    margin: 5px auto;
}

.homesection button{
    border: none;

    border-radius: 15px;
    text-align: center;
    background-color: #003366;
    color: white;
    width: 100%;
    max-width: 200px;
    height: 64px;
    font-size:30px;
    margin: 0px 15% 0px;
}



/* questiontab */

.backbutton{
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    font-size: 15px;
    background-color: #003366;
    color: white;
}

.num0fquiz{
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin: 52px 0px 10px;
}

.questionarea{
    background-color: white;
    max-height: 60%;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    box-shadow: -1px 17px 15px -10px rgba(0,0,0,0.2);
}

.questionarea h2{
    text-transform: uppercase;
    margin: 20px 10px 40px;
    font-size: 20px;
}
.btns{
    width: 100%;
    height: 64px;
    border-radius: 15px;
    background-color: white;
    border: #003366 2px solid;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.next{
    margin-left: 15px;
    border: none;
    border-radius: 10px;
    background-color: #003366;
    color: white;
    width: 60px;
    height: 30px;
    font-size:15px;   
}

/* result page */

.congrat{
    text-transform: uppercase;
    color: #020024;
    margin: 100px 0px 30px;
    text-align: center;
}

.message{
    background-color: #003366;
    max-width: 90%;
    width: 300px;
    height: 287px;
    border-radius: 15px;
    margin: 0px auto;
    padding: 62px 48px;
}

.scoretext{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 0px auto 5px;
    width: 100%;
}

.score{
    color:white;
    margin: 0px 0px;
    font-size: 120px;
}


.buttoncontainer{
    margin: 10px 0px;
    text-align: center;
    max-width: 100%;
    /* width: 300px; */
}
.result button{
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    background-color: #003366;
    color: white;
    max-width: 120px;
    width: 145px;
    height: 64px;
    font-size:15px; 
    text-transform: uppercase;
}

/* funtions */
.hide{
    display: none;
}

.incorrect{
    background-color: red;
    color: white;
}

.correct{
    background-color: green;
    color: white;
}

